<div style="display: flex">
  <div class="container-1">
    <div class="title-productos">PRODUCTOS</div>
    <div class="container-search">
      <div style="width: 100%">
        <mat-form-field style="width: 100%">
          <mat-label>Buscar Producto</mat-label>
          <input matInput [value]="producto" type="text" />
        </mat-form-field>
      </div>
      <div>
        <button class="botonSearch">Buscar</button>
      </div>
    </div>
    <div>
      <div class="card-container">
        <div class="codigoProduct">
          <div class="producto-title">
            <i class="fa fa-solid fa-cube"></i> SLX003000
          </div>
          <div>SILLA CLASICA MIAMI</div>
        </div>
        <div>PT-COMPUESTO</div>
      </div>
    </div>
  </div>
  <div class="container-2">
    <div class="containerColoresPT">
      <div class="container-listpartePT">
        <div class="coloresPT"></div>
        <div #scroll1 class="container-colores">
          <div class="centerText">
            <div class="backColorTitle">
              <strong>216A</strong>
            </div>
            <div>Almendra</div>
          </div>
          <div class="centerText">
            <div class="backColorTitle"><strong>216A</strong></div>
            <div>Almendra</div>
          </div>
          <div class="centerText">
            <div class="backColorTitle"><strong>216A</strong></div>
            <div>Almendra</div>
          </div>
          <div class="centerText">
            <div class="backColorTitle"><strong>216A</strong></div>
            <div>Almendra</div>
          </div>
          <div class="centerText">
            <div class="backColorTitle"><strong>216A</strong></div>
            <div>Almendra</div>
          </div>
          <div class="centerText">
            <div class="backColorTitle"><strong>216A</strong></div>
            <div>Almendra</div>
          </div>
          <div class="centerText">
            <div class="backColorTitle"><strong>216A</strong></div>
            <div>Almendra</div>
          </div>
          <div class="centerText">
            <div class="backColorTitle"><strong>216A</strong></div>
            <div>Almendra</div>
          </div>
        </div>
      </div>
    </div>
    <div class="container-listparte">
      <div style="display: flex; gap: 20px; align-items: center">
        <div style="font-size: 30px; font-weight: 500">1</div>
        <div class="centerText">
          <div style="font-size: 20px; font-weight: 500">SLX003100</div>
          <div style="font-size: 10px">Silla Clasica Miami - Base</div>
        </div>
      </div>
      <div #scroll2 class="container-colores">
        <div class="centerText">
          <div><strong>216A</strong></div>
          <div>Almendra</div>
        </div>
        <div class="centerText">
          <div><strong>216A</strong></div>
          <div>Almendra</div>
        </div>
        <div class="centerText">
          <div><strong>216A</strong></div>
          <div>Almendra</div>
        </div>
        <div class="centerText">
          <div><strong>216A</strong></div>
          <div>Almendra</div>
        </div>
        <div class="centerText">
          <div><strong>216A</strong></div>
          <div>Almendra</div>
        </div>
        <div class="centerText">
          <div><strong>216A</strong></div>
          <div>Almendra</div>
        </div>
        <div class="centerText">
          <div><strong>216A</strong></div>
          <div>Almendra</div>
        </div>
        <div class="centerText">
          <div><strong>216A</strong></div>
          <div>Almendra</div>
        </div>
      </div>
    </div>
  </div>
</div>
